<div class="text-center" style="margin-top: 25vh">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <input style="width: 300px;" type="text" [(ngModel)]="registerData.username" name="username" class="form-control" placeholder="Username"
            required autofocus>
        <input type="password" [(ngModel)]="registerData.password" name="password" class="form-control" placeholder="Password"
            required style="margin-top: 10px;">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="registerUser()">Sign in</button>
        <div class="mt-5 mb-3 text-muted" (click)="navigateToLogin()">Already Registred ? Login Here</div>
    </form>
</div>