<div class="text-center">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <input style="width: 300px;" type="text" [(ngModel)]="loginData.username" name="username" class="form-control" placeholder="Username"
            required autofocus>
        <input type="password" [(ngModel)]="loginData.password" name="password" class="form-control" placeholder="Password"
            required style="margin-top: 10px;">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="loginUser()">Sign in</button>
        <div class="mt-5 mb-3 text-muted" (click)="navigateToRegister()">Not Registred ? SignUp Here</div>
    </form>
</div>