{{username}}

<input type="text" [(ngModel)]="message" (input)="handleTyping()"> <br /><br />
<button (click)="sendMessage()">Send</button>

<div *ngFor="let message of messages">
  {{message.text}}    {{message.created_at}}   {{message.user.username}}
</div>

<br /><br />

<div *ngFor="let user of filterUsers()" 
    [style.background] = "user.is_active ? 'yellow' : ''" 
    [style.color]=" user.is_typing ? 'green' : ''">
  {{user.username}}
</div>

<br /><br />
<button (click)="logoutUser()">Logout</button>