<img *ngIf="scrollToDown" (click)="scrollToBottom()" src="/assets/images/arrow-down.png" width="30px" height="30px" style="z-index: 1000; position: fixed; right: 20px; bottom: 10px;">
<nav class="navbar navbar-dark bg-danger fixed-top" style="-webkit-app-region: drag;">
    <ul class="navbar-nav mr-auto" style="font-weight: bold; color: #ffffff;">
        CHAT APP
    </ul>
    <form class="form-inline my-2 my-lg-0" style="-webkit-app-region: no-drag">
        <i style="margin-right: 10px;" (click)="minimize()" class="fas fa-minus text-white bg-success fa-border fa-lg"></i>
        <i class="fas fa-times fa-border text-white bg-success fa-lg" (click)="close()"></i>
    </form>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="d-md-block bg-light sidebar col-md-3 d-block col-sm-3 col-lg-2">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" (click)="changeRoom('community')" style="text-align: center;">
            <a class="nav-link active" href="javascript: void(0);" style="font-size: 15px;">
              Community
            </a>
          </li>
          <li class="nav-item" *ngFor="let user of filterUsers()" (click)="changeRoom(user.username)">
            <a class="nav-link" href="javascript: void(0);" style="font-size: 15px;">
              {{user.username}}
              <i *ngIf='user.is_active; else elseBlock' style="margin-left: 8px;" class="fas fa-circle text-success fa-xs"></i>
              <ng-template #elseBlock>
                <i class="fas fa-circle text-secondary fa-xs" style="margin-left: 8px;"></i>
              </ng-template>
              <span *ngIf="countUnread[user.username] && countUnread[user.username] != 0" class="badge badge-pill badge-primary" style="margin-left: 8px; position: absolute; margin-top: 2px;">
                {{countUnread[user.username]}}
              </span>
              <img *ngIf='user.is_typing' src="https://mittalhimanshu151.000webhostapp.com/Images/typing.gif" alt=""
                class="rounded d-none d-sm-block" width="35" height="35" style="margin-top: -9px; float: right;">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 px-4 col-sm-9 col-lg-10 pr-null pl-null ml-sm-auto" style="height: 100vh;">
      <img width="92px" height="92px" *ngIf="isLoading; else loadingComplete" style="display:block; margin-left: 35vw; margin-top: 35vh;"
        src="assets/gifs/cube.gif">
      <ng-template #loadingComplete>
        <h2 class="text-center">
          <div style="font-size: 19px; float: left;" class="text-success">
            <span class="text-black-50">You:</span> {{username}}
          </div>
          {{room}}
          <div style="font-size: 12px; width: 100px; margin-top: -11px;" class="text-success">
            Total Online : {{totalOnline}}
          </div>
          <a href="javascript: void(0);" (click)="logoutUser()" style="text-decoration: none; float: right; font-size: 15px; position: absolute; right: 35px; top: 49px; border-radius: 10px; padding: 5px;"
            class="border border-success text-primary">SIGN OUT
          </a>
        </h2>
        <div class="my-3 bg-white rounded box-shadow pr-null pb-null" style="margin-bottom: 50px !important;">
          <div class="media text-muted pt-3" *ngFor="let message of messages">
            <img src="https://mittalhimanshu151.000webhostapp.com/Images/avatar-icon-images-4.jpg" alt="" class="mr-2 rounded"
              width="32" height="32" />
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">{{message.user.username}}
                <span style="float: right;">
                  {{message.created_at}}
                </span>
              </strong>
              {{message.text}}
            </p>
          </div>
        </div>
        <form style="bottom: 0; position: fixed; border-radius: 5px;" class="col-lg-9 col-md-8 col-sm-8">
          <div class="form-row">
            <div class="col">
              <input [(ngModel)]="message" name="message" (input)="handleTyping()" (blur)="onBlurMethod()" type="text"
                class="form-control" placeholder="Type Here" />
            </div>
            <div>
              <input class="btn bg-success btn-success" (click)="sendMessage()" type="submit" value="Send" />
            </div>
          </div>
        </form>
      </ng-template>
    </main>
  </div>
</div>